<p><%= comment.user_name if comment.user %></p>
<p><%= comment.content %></p>
<% if logged_in? && comment.user == current_user %>
  <%= link_to t("delete"), comment, method: :delete, data: {confirm: t("you_sure")} %>
<% end %>
<hr>
