<% provide :title, t("borrow_book") %>
<div class="container">
  <ul class="errors">
    <% @borrowed.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <%= render "form_borrowed" %>
</div>
