<div class="container">
  <div class="check">
    <div class="col-md-3 cart-total"></div>
    <div class="col-md-9 cart-items">
      <h1><%= t "borrow_book" %></h1>
      <%= render "borrowed_detail" %>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
