$white-light: #f2f2f2;
$green: #0c6;
$-internal-root-color: -internal-root-color;
$blue-dark: #204056;
$white: white;
$very_dark_grayish_red: #4e4a4a;
$strong_cyan: #17a2b8;
$red: red;
$very_dark_grayish_violet: #6a696b;
$red: #c11a1a;
$darkblue: darkblue;
$grey: #b4b7d0;
$very_dark_grayish_blue: #343a40;
$light_grayish_blue: #d0d8df;
$light_gray: #D7D7D7;
$black: black;
$very_light_gray: #EBEBEB;
$light_gray_blue: #F7F8F9;
$very_dark_gray: #2E2E2E;
$dark_grayish_cyan: #688a7e;
$dark_gray: #797979;
$gray: #bdbdbd;
$dark_moderate_lime_green: #4caf50;
$very_dark_gray: #4a4a4a;
