$white-light: #f2f2f2;
$green: #0c6;
$-internal-root-color: -internal-root-color;
$blue-dark: #204056;
$white: white;
$very_dark_grayish_red: #4e4a4a;
$strong_cyan: #17a2b8;
$black: black;
$red: red;
$very_dark_grayish_violet: #6a696b;
$red: #c11a1a;
$darkblue: darkblue;
$grey: #b4b7d0;
