@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";

#module_topcategories .category {
  background: $white-light;
  font-family: "Times New Roman",Times,serif;
  padding: 0;
  height: 38px;
  margin-bottom: 18px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: $-internal-root-color;
  color: $green;
  border-radius: 23px;

  a.title-cate {
    display: inline;
    background-color: $blue-dark;
    padding: 3px 8px 7px 8px;
    border-radius: 25px;
    color: $white;
  }
  a.more {
    float: right;
    padding-right: 1rem;
    padding-top: 5px;
    margin-top: 6px;
    margin-bottom: 10px;
    color: $blue-dark;
    font-size: 18px;
  }
}

button.btn.btn-light a {
  color: $very_dark_grayish_red;
  font-weight: 600;
}

button.btn.btn-light:hover {
  background-color: $strong_cyan;
}

.col-md-2.product-left {
  margin-top: 10px;
}

.flexslider.details-lft-inf img {
  width: 356px;
  height: 505px;
}

h4.author_book {
  color: black !important;
}

.details-left-info .simpleCart_shelfItem {
  margin-bottom: 5rem;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

ul.dropdown-menu {
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  background-color: $black;
  white-space: nowrap;
}

form#search-form {
  display: inline;
  position: absolute;
  top: 179px;
  left: 958px;
  width: 19rem;
}

li.dropdown.show {
  display: inline !important;
  ul.dropdown-menu {
    visibility: visible;
    li {
      display: block;
      text-align: left;
    }
  }
}

li.dropdown ul.dropdown-menu {
  visibility: hidden;
}

a.btn.btn-primary.btn-lg.borrow {
  margin-top: 44px;
  margin-left: 30rem;
  width: 8rem;
  text-transform: uppercase;
  font-weight: bold;
}

form.edit_borrowed {
  padding: 2rem 15rem 3rem 15rem;
  line-height: 4rem ;
}

.container {
  h1 {
    margin-left: 412px;
  }

  table.table.table-hover {
    width: 60rem;
    margin-left: 5rem;
  }

  tr {
    border-bottom: 1px solid rgb(244, 244, 244);
    height: 5rem;
    position: relative;
  }

  table tbody tr::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter);
    margin-left: 38px;
  }
}

ul.a {
  list-style-type: circle;
}

body {
  counter-reset: my-sec-counter;
}

input#search {
  width: 14rem;
}

form#search_form {
  display: inline;
  position: absolute;
  top: 12px;
  width: 19rem;
}

.menu_sec {
  position: relative;
}

.top_left ul li.top_link,.top_left ul li.top_link a {
  font-size: 14px;
  font-weight: bolder;
}

li.dropdown.show {
  display: inline !important;
}

#comments-list a {
  text-transform: unset;
  color: $red;
  font-size: medium;
  margin-left: 0;
}

#comments-list p {
  color: $blue-dark;
  font-size: 15px;
}

#new_comment input[type="submit"] {
  color: $black;
  margin-left: 600px;
  font-size: 16px;
  line-height: normal;
}

input[type="submit"] {
  float: right;
}
.field_with_errors input{
  border: 1px solid $red !important;
}

ul.errors {
  margin-top: 2rem;
}

td.status {
  position: absolute;
  display: inline;
  background-color: $very_dark_grayish_violet;
  border-radius: 10px;
  height: 39px;
  color: $white;
}

label.required:after {
  content: " *";
  color: $red;
}

.not-book {
  text-align: center;
}

input::placeholder {
  color: $grey !important;
}

textarea::placeholder {
  color: $grey !important;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
}
form.form-inline.my-2.my-lg-0.search-form {
  display: inline-block;
  padding-top: 7px;
  margin-left: 1rem;
}

ul.navbar-nav.login {
  float: right;
  margin-top: 8px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-fixed-top.menu-top {
  height: 50px;
  border-radius: 0;
  position: fixed;
  a.navbar-brand.logo {
    font-size: 22px;
    font-weight: bold;
    margin-left: -20px;
  }
  &:hover {
    color: $dark_gray;
  }
}

/*sidebar*/
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  background: $very_dark_grayish_blue;
  margin-top: -61px;
}

.nav-collapse.collapse {
  display: inline;
}

ul.sidebar-menu {
  margin: -2px 0 0;
  padding: 0;
  .sub-menu li.active a{
    border-bottom: 1px solid $light_grayish_blue;
  }
  li {
    line-height: 20px !important;
    list-style-type: none;
    .sub-menu{
      line-height: 15px;
      font-size: 16px;
    }
    a{
      color: $white;
      text-decoration: none;
      display: block;
      padding: 15px 0 15px 10px;
      font-size: 16px;
      font-weight: 300;
      outline: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-right: 1px solid $light_gray;
      border-bottom: 1px solid $light_gray;
      span{
        display: inline-block;
      }
      &:hover, &:focus {
        border-bottom: 1px solid $light_grayish_blue;
      }
      i {
        font-size: 18px;
        padding-right: 6px;
      }
    }
    ul.sub {
      margin: -2px 0 0;
      padding: 0;
      li{
        background: $very_dark_grayish_blue;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        &:last-child {
          border-radius: 0 0 4px 4px;
          -webkit-border-radius: 0 0 4px 4px;
        }
        a {
          font-size: 12px;
          padding: 0 0 0 32px;
          line-height: 35px;
          height: 35px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          color: $light_grayish_blue;
          font-size: 14px;
        }
      }
    }
  }
}

#sidebar ul li ul.sub {
  display: none;
}

#sidebar ul li.active ul.sub, #sidebar ul li ul.sub li a {
  display: none;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
  color: $white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

ul.sidebar-menu li a:hover {
  background: $dark_gray;
  color: $white;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
  color: $white;
}

ul.sidebar-menu li.active a i {
  color: $white;
}


#sidebar ul li.active a .arrow, #sidebar ul li a:hover .arrow, #sidebar ul li a:focus .arrow {
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid $light_grayish_blue;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#sidebar ul li.active a .arrow.open, #sidebar ul li a:hover .arrow.open, #sidebar ul li a:focus .arrow.open {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid $light_grayish_blue;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.container-fluid.main {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -15px;
  top: 7rem;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .dropdown-menu.extended  {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  };
}

.top-nav  {
  margin-top: 7px;
  .username {
    font-size: 16px;
    color: $gray;
  }
  ul.top-menu {
    li.dropdown {
      margin-left: 47rem;
      margin-top: 1px;
    }
    li {
      margin-left: 8px;
      margin-top: -38px;
      .dropdown-menu.logout {
        width: 200px !important;
        height: 150px;
      }
      a {
        padding: 8px;
        background: none;
        margin-right: 0;
      }
    }
  }
  li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
    .extended {
      max-width: 300px !important;
      min-width: 160px !important;
      top: 42px;
      width: 235px !important;
      padding: 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
      border: none !important;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      a {
        border-bottom: 1px solid $very_light_gray !important;
        font-size: 12px;
        list-style: none;
        padding: 15px 10px !important;
        width: 100%;
        display: inline-block;
        &:hover {
          background-color: $light_gray_blue !important;
          color: #2E2E2E;
          border-bottom: 1px solid $dark_grayish_cyan !important;
        }
      }
    }
  }
}

.dropdown-menu.extended.logout li {
  float: left;
  text-align: left;
  width: 100%;
  &:last-child {
    float: left;
    text-align: left;
    width: 100%;
  }
  a {
    border-bottom: 1px solid $very_light_gray !important;
    font-size: 14px;
    list-style: none;
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
    &:hover {
      background-color: $light_gray_blue !important;
      color: #2E2E2E;
      border-bottom: 1px solid $dark_grayish_cyan !important;
      i {
        color: $dark_grayish_cyan;
      }
    }
    i {
      font-size: 17px;
      display: inline-block;
      padding-right: 10px
    }
  }
}

.dropdown-menu.extended.logout li

.dropdown-menu li a{
  color: $dark_gray;
}

.log-arrow-up {
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}

span.username {
  position: absolute;
  top: 5px;
  right: 26px;
}

a.dropdown-toggle {
  position: relative;
}

ul.dropdown-menu.extended.logout.show li a {
  color: $white;
  width: 123%;
  margin-left: -26px;
  margin-top: 34px;
  &:hover {
    color: $black;
  }
}

.product-one .col-md-3.product-left {
  margin-top: 19px;
}

.pagination {
  display: inline-block;
  float: left;
}

.pagination span {
  color: $black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination span.active {
  background-color: $dark_moderate_lime_green;
  color: white;
  border-radius: 5px;
}

.pagination span:hover:not(.active) {
  background-color: $very_light_gray;
  border-radius: 5px;
}

table.table.table-bordered.table-hover {
  width: 68rem;
  margin-left: 0;
}

h2.title {
  text-align: center;
  margin-top: -28px;
}

a.book-btn {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: $black;
  margin-right: 5px;
  padding: 5px 5px 5px 8px;
  &:hover {
    background-color: $very_dark_gray;
    color: $white;
  }
  i {
    width: 14px;
  }
}

.flexslider.details-lft-inf.image-admin img {
  width: 13rem;
  height: 16rem;
}

i.fa.fa-trash {
  margin-right: 4px;
  margin-left: 3px;
}

.col-sm-2 img {
  width: 15rem;
}

input.btn.btn-primary.edit {
  margin-top: 2rem;
}

td.content {
  width: 500px;
  height: 100px;
  padding: 50px;
  box-sizing: border-box;
}
ul.list-group.list-group-flush {
  margin-left: 40px;
}
