<% provide :title, t("edit_user") %>
<% provide :button_text, t("save_changes") %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel"><%= t "update_your_profile" %></h4>
</div>
<div class="modal-body">
  <%= render "form_user" %>
</div>
